## Conclusion

The Pearson correlation coefficient test results indicate the strength and significance of the relationships between different variables. In this analysis:

- **The strongest correlation is observed between Palace and Metropolitan examinations, with a correlation coefficient of 0.182584, indicating a moderate positive correlation. This correlation is highly statistically significant with a p-value of 3.097262e-101.**

- The correlation coefficient between Metropolitan and Provincial examinations is 0.075779, suggesting a weak positive correlation, which is statistically significant with a p-value of 1.326249e-18.
  
- The correlation coefficient between Palace and Provincial examinations is 0.043199, indicating a similarly weak positive correlation, also statistically significant with a p-value of 5.340735e-07.



| Relationship            | Correlation Coefficient | p-value            |
|-------------------------|-------------------------|--------------------|
| Metropolitan vs Provincial | 0.075779                | 1.326249e-18       |
| Palace vs Provincial       | 0.043199                | 5.340735e-07       |
| Palace vs Metropolitan     | 0.182584                | 3.097262e-101      |

In [15]:
import pandas as pd

## Read the source data

In [16]:
input_data_df = pd.read_excel('ming_jinshilu_52y_release.xlsx', sheet_name='Ming Jinshi Lists')

# only keep ID_MING_JINSHI, CBDB_personid, 姓名, 甲次, 名次, 鄉試名次, 會試名次, 進士年份
input_data_df = input_data_df[['ID_MING_JINSHI', 'CBDB_personid', '姓名', '甲次', '名次', '鄉試名次', '會試名次', '進士年份']]

# rename columns to 'ID_MING_JINSHI', 'personid', 'name', 'p_rank_1', 'p_rank_2', p_rank', 'm_rank'
input_data_df.columns = ['ID_MING_JINSHI', 'personid', 'name', 'pl_rank_1', 'pl_rank_2', 'pr_rank', 'me_rank', 'entry_year']

print(input_data_df.shape)

input_data_df.head()

(14116, 8)

,ID_MING_JINSHI,personid,name,pl_rank_1,pl_rank_2,pr_rank,me_rank,entry_year
0,JINSHI_1-120.csv_1,34414,吳伯宗,第一甲,第一名,第一名,第二十四名,1371
1,JINSHI_1-120.csv_2,198025,郭翀,第一甲,第二名,第八名,第五十一名,1371
2,JINSHI_1-120.csv_3,198026,吳公達,第一甲,第三名,第二十九名,第一百十五名,1371
3,JINSHI_1-120.csv_4,66504,楊自立,第二甲,第一名,第八名,第三名,1371
4,JINSHI_1-120.csv_5,198027,趙友能,第二甲,第二名,第二十八名,第七十三名,1371

## Create arabic numbers Chinese mapping for pa, pr, and me ranks

### Create 甲次 jiaci mapping

In [17]:
# Find unique values in pl_rank_1
jiaci_unique = input_data_df['pl_rank_1'].unique()
print(jiaci_unique)

# Create a dictionary to map the jiaci to a number
jiaci_dict = {'第一甲': 1, '第二甲': 2, '第三甲': 3, '第仕至二甲': 2, '第乙未殿試二甲': 2}

['第一甲' '第二甲' '第三甲' nan '第仕至二甲' '第乙未殿試二甲']

### Create 名次 mingci mapping

In [18]:
# Combine pl_rank_2, pr_rank, me_rank together, keep the unique values
rank_unique = input_data_df[['pl_rank_2', 'pr_rank', 'me_rank']].stack().unique()
# save the unique values to a txt file
with open('rank_unique.txt', 'w') as f:
    for item in rank_unique:
        f.write("%s\n" % item)
print(rank_unique.shape)
rank_unique[:10]

(3297,)

array(['第一名', '第二十四名', '第二名', '第八名', '第五十一名', '第三名', '第二十九名', '第一百十五名',
       '第二十八名', '第七十三名'], dtype=object)

In [19]:
rank_unique_cleaned = []
# In rank_unique
# 1. Use regex to remove "^.*試" and ^.*第 from the string
# 2. Remove "　" and " " from the string
# 3. Skip the string if it contains "□"
# 4. Remove 名
# 5. If there is no 一二三四五六七八九十百 in the string, skip the string
import re
for rank in rank_unique:
    # specific rules
    rank = rank.replace('一百三十五名未廷試', '一百三十五')
    rank = rank.replace('叄', '三')
    rank = rank.replace('、', '')
    rank = rank.replace('士一', '十一')
    rank = re.sub('台$', '', rank)

    # general rules
    rank = re.sub('^.*試', '', rank)
    rank = re.sub('^.*第', '', rank)
    rank = rank.replace('　', '')
    rank = rank.replace(' ', '')
    rank = rank.replace('名', '')
    if '□' in rank:
        rank = ''
    if not re.search('[一二三四五六七八九十百]', rank) and rank != '':
        # rank = "no_number"
        rank = ""
    rank_unique_cleaned.append(rank)

# save rank_unique and rank_unique_cleaned to two columns in a csv file
rank_unique_df = pd.DataFrame({'rank_unique': rank_unique, 'rank_unique_cleaned': rank_unique_cleaned})
rank_unique_df.to_csv('rank_unique.csv', index=False, encoding='utf-8-sig')
rank_unique_df.head()

  rank_unique rank_unique_cleaned
0         第一名                   一
1       第二十四名                 二十四
2         第二名                   二
3         第八名                   八
4       第五十一名                 五十一

In [20]:
# Print the unique number of rank_unique_cleaned
rank_unique_cleaned_unique = list(set(rank_unique_cleaned))
# Remove the empty string
rank_unique_cleaned_unique.remove('')
print(len(rank_unique_cleaned_unique))
# save the unique values to a txt file
with open('rank_unique_cleaned_unique.txt', 'w') as f:
    for item in rank_unique_cleaned_unique:
        f.write("%s\n" % item)

467

## Create number column for input_data_df

In [21]:
number_mapping_df = pd.read_excel('number_mapping_from_llm.xlsx', sheet_name='data')
number_mapping_df.head()

# Create a dictionary to map the rank to a number
rank_dict = {}
for index, row in number_mapping_df.iterrows():
    rank_dict[row['rank']] = row['number']

# Add number columns to the rank_unique_df
rank_unique_df['number'] = rank_unique_df['rank_unique_cleaned'].map(rank_dict)

# Create a dictionary to map the rank_unique to a number
rank_unique_dict = {}
for index, row in rank_unique_df.iterrows():
    rank_unique_dict[row['rank_unique']] = row['number']

for key in list(rank_unique_dict.keys())[:10]:
    print(key, rank_unique_dict[key])

第一名 1.0
第二十四名 24.0
第二名 2.0
第八名 8.0
第五十一名 51.0
第三名 3.0
第二十九名 29.0
第一百十五名 115.0
第二十八名 28.0
第七十三名 73.0

In [22]:
# Add number columns to the input_data_df
input_data_df['pl_rank_1_number'] = input_data_df['pl_rank_1'].map(jiaci_dict)
input_data_df['pl_rank_2_number'] = input_data_df['pl_rank_2'].map(rank_unique_dict)
input_data_df['pr_rank_number'] = input_data_df['pr_rank'].map(rank_unique_dict)
input_data_df['me_rank_number'] = input_data_df['me_rank'].map(rank_unique_dict)

input_data_df.head()

,ID_MING_JINSHI,personid,name,pl_rank_1,pl_rank_2,pr_rank,me_rank,entry_year,pl_rank_1_number,pl_rank_2_number,pr_rank_number,me_rank_number
0,JINSHI_1-120.csv_1,34414,吳伯宗,第一甲,第一名,第一名,第二十四名,1371,1.0,1.0,1.0,24.0
1,JINSHI_1-120.csv_2,198025,郭翀,第一甲,第二名,第八名,第五十一名,1371,1.0,2.0,8.0,51.0
2,JINSHI_1-120.csv_3,198026,吳公達,第一甲,第三名,第二十九名,第一百十五名,1371,1.0,3.0,29.0,115.0
3,JINSHI_1-120.csv_4,66504,楊自立,第二甲,第一名,第八名,第三名,1371,2.0,1.0,8.0,3.0
4,JINSHI_1-120.csv_5,198027,趙友能,第二甲,第二名,第二十八名,第七十三名,1371,2.0,2.0,28.0,73.0

In [23]:
# Create pl_rank by combining pl_rank_1_number as integer, and pl_rank_2_number as decimal
input_data_df['pl_rank_number'] = input_data_df['pl_rank_1_number'] + input_data_df['pl_rank_2_number'] / 1000
input_data_df.head()

,ID_MING_JINSHI,personid,name,pl_rank_1,pl_rank_2,pr_rank,me_rank,entry_year,pl_rank_1_number,pl_rank_2_number,pr_rank_number,me_rank_number,pl_rank_number
0,JINSHI_1-120.csv_1,34414,吳伯宗,第一甲,第一名,第一名,第二十四名,1371,1.0,1.0,1.0,24.0,1.001
1,JINSHI_1-120.csv_2,198025,郭翀,第一甲,第二名,第八名,第五十一名,1371,1.0,2.0,8.0,51.0,1.002
2,JINSHI_1-120.csv_3,198026,吳公達,第一甲,第三名,第二十九名,第一百十五名,1371,1.0,3.0,29.0,115.0,1.003
3,JINSHI_1-120.csv_4,66504,楊自立,第二甲,第一名,第八名,第三名,1371,2.0,1.0,8.0,3.0,2.001
4,JINSHI_1-120.csv_5,198027,趙友能,第二甲,第二名,第二十八名,第七十三名,1371,2.0,2.0,28.0,73.0,2.002

## Clean data for correlation calculation

In [24]:
# Drop 'pl_rank_1', 'pl_rank_2', 'pr_rank', 'me_rank', 'pl_rank_1_number', 'pl_rank_2_number'
input_data_df = input_data_df.drop(columns=['pl_rank_1', 'pl_rank_2', 'pr_rank', 'me_rank', 'pl_rank_1_number', 'pl_rank_2_number'])
# Delete the rows if any values in pr_rank_number	me_rank_number	pl_rank_number are empty
input_data_df = input_data_df.dropna(subset=['pr_rank_number', 'me_rank_number', 'pl_rank_number'])

print(input_data_df.shape)
input_data_df.head()

(13460, 7)

,ID_MING_JINSHI,personid,name,entry_year,pr_rank_number,me_rank_number,pl_rank_number
0,JINSHI_1-120.csv_1,34414,吳伯宗,1371,1.0,24.0,1.001
1,JINSHI_1-120.csv_2,198025,郭翀,1371,8.0,51.0,1.002
2,JINSHI_1-120.csv_3,198026,吳公達,1371,29.0,115.0,1.003
3,JINSHI_1-120.csv_4,66504,楊自立,1371,8.0,3.0,2.001
4,JINSHI_1-120.csv_5,198027,趙友能,1371,28.0,73.0,2.002

# Calculate pearsonr for pr_rank_number	me_rank_number	pl_rank_number

In [25]:
from scipy.stats import pearsonr
pr_rank_number = input_data_df['pr_rank_number']
me_rank_number = input_data_df['me_rank_number']
pl_rank_number = input_data_df['pl_rank_number']
pearsonr_me_pr = pearsonr(me_rank_number, pr_rank_number)
pearsonr_pl_pr = pearsonr(pl_rank_number, pr_rank_number)
pearsonr_pl_me = pearsonr(pl_rank_number, me_rank_number)

# calculate the correlation coefficient between pr_rank_number and me_rank_number
index_names = ['metropolitan_provincial', 'palace_provincial', 'palace_metropolitan']
correlation_coefficient = [pearsonr_me_pr[0], pearsonr_pl_pr[0], pearsonr_pl_me[0]]
correlation_p_value = [pearsonr_me_pr[1], pearsonr_pl_pr[1], pearsonr_pl_me[1]]
correlation_df = pd.DataFrame({'correlation_coefficient': correlation_coefficient, 'p_value': correlation_p_value}, index=index_names)

correlation_df

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

                         correlation_coefficient        p_value
metropolitan_provincial                 0.075779   1.326249e-18
palace_provincial                       0.043199   5.340735e-07
palace_metropolitan                     0.182584  3.097262e-101

## Correlation by entry_year groups

In [36]:
year_interval = 30

# Create a new column 'entry_year_interval' by dividing 'entry_year' by year_interval and rounding down
input_data_df['entry_year_interval'] = input_data_df['entry_year'] // year_interval * year_interval
# Save input_data_df to a csv file
input_data_df.head()

,ID_MING_JINSHI,personid,name,entry_year,pr_rank_number,me_rank_number,pl_rank_number,entry_year_interval
0,JINSHI_1-120.csv_1,34414,吳伯宗,1371,1.0,24.0,1.001,1370
1,JINSHI_1-120.csv_2,198025,郭翀,1371,8.0,51.0,1.002,1370
2,JINSHI_1-120.csv_3,198026,吳公達,1371,29.0,115.0,1.003,1370
3,JINSHI_1-120.csv_4,66504,楊自立,1371,8.0,3.0,2.001,1370
4,JINSHI_1-120.csv_5,198027,趙友能,1371,28.0,73.0,2.002,1370

In [37]:
# Calcuate pearson correlation coefficient and pvalue for each year_interval
correlation_coefficient_list = []
correlation_p_value_list = []
for year in input_data_df['entry_year_interval'].unique():
    temp_df = input_data_df[input_data_df['entry_year_interval'] == year]
    pr_rank_number = temp_df['pr_rank_number']
    me_rank_number = temp_df['me_rank_number']
    pl_rank_number = temp_df['pl_rank_number']
    pearsonr_me_pr = pearsonr(me_rank_number, pr_rank_number)
    pearsonr_pl_pr = pearsonr(pl_rank_number, pr_rank_number)
    pearsonr_pl_me = pearsonr(pl_rank_number, me_rank_number)
    data_number = temp_df.shape[0]
    correlation_coefficient_list.append([pearsonr_me_pr[0], pearsonr_pl_pr[0], pearsonr_pl_me[0], data_number])
    correlation_p_value_list.append([pearsonr_me_pr[1], pearsonr_pl_pr[1], pearsonr_pl_me[1], data_number])

correlation_coefficient_df = pd.DataFrame(correlation_coefficient_list, columns=['metropolitan_provincial', 'palace_provincial', 'palace_metropolitan', "data_number"], index=input_data_df['entry_year_interval'].unique())
correlation_p_value_df = pd.DataFrame(correlation_p_value_list, columns=['metropolitan_provincial', 'palace_provincial', 'palace_metropolitan', "data_number"], index=input_data_df['entry_year_interval'].unique())

In [38]:
correlation_p_value_df

,metropolitan_provincial,palace_provincial,palace_metropolitan,data_number
1370,0.623879,0.642551,1.859445e-01,62
1450,0.362337,0.214864,1.476578e-03,832
1460,0.303336,0.907112,1.503555e-08,975
1470,0.007058,0.003226,1.027351e-07,853
1400,0.418075,0.239680,4.099069e-03,109
1480,0.443073,0.009116,2.928955e-02,645
1490,0.004028,0.781539,7.627480e-06,889
1500,0.000257,0.863585,2.186270e-03,566
1510,0.083070,0.201588,1.383176e-06,629
1520,0.022415,0.136185,2.365165e-04,648
1410,0.222950,0.949880,5.651992e-01,105
1530,0.000621,0.314929,9.980308e-05,961
1540,0.739300,0.737275,2.126679e-04,889
1550,0.023710,0.122080,1.026794e-13,1320
1430,0.190417,0.314572,1.366418e-04,231
1560,0.004263,0.124273,5.668691e-11,1096
1570,0.018458,0.010925,5.021477e-12,996
1580,0.063793,0.146549,6.422351e-08,993
1610,0.417508,0.994437,3.531217e-02,230
1440,0.475045,0.079375,1.050716e-04,431

In [39]:
correlation_coefficient_df

,metropolitan_provincial,palace_provincial,palace_metropolitan,data_number
1370,0.063505,0.060115,0.170215,62
1450,0.031620,0.043045,0.110051,832
1460,0.032998,-0.003742,0.180049,975
1470,0.092182,0.100738,0.180974,853
1400,0.078345,0.113565,0.272847,109
1480,-0.030253,0.102605,0.085828,645
1490,0.096369,0.009314,0.149466,889
1500,0.153074,0.007238,0.128526,566
1510,0.069160,0.050987,0.191085,629
1520,0.089687,0.058601,0.143949,648
1410,0.119941,0.006209,0.056762,105
1530,0.110209,0.032451,0.125187,961
1540,0.011176,-0.011267,0.123906,889
1550,0.062253,0.042576,0.202770,1320
1430,0.086456,0.066456,0.248358,231
1560,0.086268,0.046457,0.196214,1096
1570,0.074652,0.080614,0.216465,996
1580,0.058846,0.046106,0.170531,993
1610,0.053714,-0.000462,0.138867,230
1440,0.034496,0.084597,0.185736,431